<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/main.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>PC Planet</h1>
    </header>
    <main>
      <h2>Customers</h2>
      <p class="description">Select customer name to show order details</p>

      {% for order in orders %}
      <p>
        <a href="/orders/{{loop.index0}}" class="customer_name bolder"
          >{{ order.customer_name }}
        </a>
      </p>
      <hr />
      {% endfor %}
    </main>
  </body>
</html>
